@model IEnumerable<Atividade1.Models.Placar>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JogadorPts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaPts)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JogadorPts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaPts)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
